* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;

    font-family: 'Inter';
    font-style: normal;

    position: absolute;
    width: 100%;
    min-width: 1200px;
    left: 0px;
    right: 0px;
    top: 174px;
    padding: 80px;
    padding-bottom: 180px;

}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 230px;
    height: 320px;

    background: #EFEFEF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.product-image-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    object-fit: cover;
    gap: 10px;

    width: 230px;
    height: 153px;

    background: #FFFFFF;
    border-radius: 15px 15px 0px 0px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 230px;
    height: 167px;
}

h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

h3 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.info-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 4px;
    gap: 10px;

    width: 230px;
    height: 72px;
}

.info-dop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px 0px;
    gap: 10px;

    width: 230px;
    height: 28px;
}

.info-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 10px;

    width: 230px;
    height: 67px;
}

.price-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 30px;
    gap: 10px;

    width: 131px;
    height: 37px;

    font-family: 'Inter';
    font-style: normal;
    background: #FFFFFF;
    border-radius: 15px;
    outline: none;
    border: 2px solid #FFFFFF;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #121219;
}

.product-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 16px 0px 0px;

    width: 700px;
    height: 200px;

    background: #EFEFEF;
    border-radius: 15px;
}

.product-image-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    object-fit: cover;
    padding: 0px;
    gap: 10px;

    width: 342px;
    height: 200px;

    border-radius: 15px 0px 0px 15px;
}

.product-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 26px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    width: 342px;
    height: 200px;
}

.card-info-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 10px 10px 0px;
    gap: 10px;

    width: 306px;
    height: 112px;

    color: #121219;
}

.card-info-sum {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 10px 10px 0px;
    gap: 10px;

    width: 306px;
    height: 39px;

    color: #121219;
}

.card-info-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 10px 10px 0px;
    gap: 10px;

    width: 306px;
    height: 49px;

    color: #D5A600;
    border-radius: 15px;
}

.order-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
    border: none;

    position: fixed;
    width: 186px;
    height: 63px;
    bottom: 5%;

    background: #FF0000;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}

.back-pr-pg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
    margin-top: 4rem;
    gap: 45px;

    width: 1060px;
    height: fit-content;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.product-pr-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;
    position: relative;

    width: 900px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.product-image-pr-pg {
    object-fit: cover;

    width: 900px;
    height: 397px;

    border-radius: 15px;
}

.product-name-pr-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;

    width: 900px;

    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}


.product-info-pr-pg {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 900px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.price-and-btn-pr-pg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;

    height: 70px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.to-card-btn-pr-pg {
    display: flex;
    justify-content: center;
    padding: 8px 40px;
    border: none;

    height: 40px;

    background: #FF0000;
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.price-pr-pg {
    display: flex;
    justify-content: center;

    height: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}



