* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
    width: 100%;
}

a {
    text-decoration: none;
}

h4 {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}

.text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #121219;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;

    font-family: 'Inter';
    font-style: normal;

    position: absolute;
    width: 100%;
    min-width: 1200px;
    left: 0px;
    right: 0px;
    top: 174px;
    padding: 80px;
    padding-bottom: 180px;

}

.back {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
    gap: 45px;

    height: fit-content;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/*   main page   */

.combo-back-main-pg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;

    width: 800px;

    background: #FFFFFF;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Montserrat';
    font-style: normal;
}

.combo-info-main-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;

    width: 370px;
}

.combo-info-discount-frame-main-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 330px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #D5A600;
}

.combo-info-name-main-pg {
    max-width: 330px;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;

    color: #000000;
}

.combo-info-price-btn-main-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    border: none;

    background: #FF0000;
    border-radius: 15px;

    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.combo-image-main-pg {
    display: flex;
    align-items: center;
    object-fit: cover;

    width: 370px;
    height: 300px;
}

.products-main-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;

    flex-wrap: wrap;
    width: 1200px;
}

.product-main-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 230px;
    height: 320px;

    background: #EFEFEF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.product-image-main-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    object-fit: cover;
    gap: 10px;

    width: 230px;
    height: 153px;

    background: #FFFFFF;
    border-radius: 15px 15px 0px 0px;
}

.product-info-main-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 230px;
    height: 167px;
}

.info-name-main-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 4px;
    gap: 10px;

    width: 230px;
    height: 72px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.info-dop-main-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px 0px;
    gap: 10px;

    width: 230px;
    height: 28px;
}

.dop-weight-frame-main-pg {
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.dop-rating-main-pg {

}

.info-price-main-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 10px;

    width: 230px;
    height: 67px;
}

.price-btn-frame-main-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 30px;
    gap: 10px;

    min-width: 131px;
    height: 40px;

    background: #FFFFFF;
    border-radius: 15px;
    outline: none;
    border: 2px solid #FFFFFF;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #121219;
}

/*   cart page   */

.product-cart-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 680px;
    height: 250px;

    background: #FFFFFF;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.product-image-cart-pg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    object-fit: cover;

    width: 300px;
    height: 250px;

    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.product-info-cart-pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;

    width: 340px;

    border-radius: 0px 15px 15px 0px;
}

.info-name-cart-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 300px;
    max-height: 116px;
    min-height: 58px;

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #121219;
}

.count-frame-cart-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;

    width: 300px;
}

.count-txt-cart-pg {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #121219;
}

.count-cart-pg {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #121219;
}

.info-price-cart-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 300px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #D5A600;
}

.order-btn-cart-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
    border: none;

    background: #FF0000;
    border-radius: 15px;

    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}

/*   product page   */

.back-pr-pg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
    gap: 45px;

    width: 1060px;
    height: fit-content;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.product-pr-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;
    position: relative;

    width: 900px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.product-image-pr-pg {
    object-fit: cover;

    width: 900px;
    height: 397px;

    border-radius: 15px;
}

.product-name-pr-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;

    width: 900px;

    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;

    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.product-weight-text-pr-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    padding-top: 0px;

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.product-info-pr-pg {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 900px;

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.price-and-btn-pr-pg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;

    height: 70px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.to-card-btn-pr-pg {
    display: flex;
    justify-content: center;
    padding: 8px 40px;
    border: none;

    height: 40px;

    background: #FF0000;
    border-radius: 15px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.price-text-pr-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    height: 40px;

    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

/*  orders  */

.btn-back-ordr-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

.order-ordr-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 680px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.number-order-and-price-ordr-pg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    gap: 1rem;

    background: #EFEFEF;
    border-radius: 15px 15px 0px 0px;
}

.number-frame-ordr-pg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.number-txt-ordr-pg {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.number-ordr-pg {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #0563F1;
}

.price-frame-ordr-pg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.price-txt-ordr-pg {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.price-ordr-pg {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.info-ordr-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    gap: 20px;

    width: 100%;
}

.address-frame-ordr-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.address-txt-ordr-pg {
    width: 170px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.adress-ordr-pg {
    width: 444px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.status-ordr-pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background: #C9C9C9;
    border-radius: 15px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

/*    order    */

.user-frame-ordr-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.user-txt-ordr-pg {
    width: 123px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.user-ordr-pg {
    width: 487px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

/*    profile    */

.name-email-prf-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 40px;
    gap: 20px;

    width: 857px;
}

.name-and-surname-prf-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 15px;
}

.name-prf-pg {
    align-items: flex-start;

    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.surname-prf-pg {
    align-items: flex-start;

    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.email-prf-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 373px;

    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.info-prf-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px;
    gap: 40px;

    width: 857px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.address-frame-prf-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 777px;
}

.address-prf-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space: nowrap;
    flex-wrap: wrap;

    width: 777px;

    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.address-street-prf-pg {
    margin-left: 10px;
}

.address-house-prf-pg {
    margin-left: 10px;
}

.address-entrance-prf-pg {
    margin-left: 10px;
}

.address-flat-prf-pg {
    margin-left: 10px;
}

.phone-number-bl-prf-pg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 777px;
}

.phone-number-prf-pg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 777px;

    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

