* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
    width: 100%;
}

.logo-lvl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 170px;

    width: 100%;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 181px;
    height: 56px;

    background: #FF0000;
    border-radius: 15px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 0;
}

a.logo-s {
    text-decoration: none;
    color: #FFFFFF;
}

.search-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    outline: none;
    border: none;
    border-radius: 15px 15px 15px 15px;

    width: 544px;
    height: 56px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.search-box .search-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 427px;
    height: 56px;

    outline: none;
    border: 2px solid #FF0000;
    border-radius: 15px 0px 0px 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #121219;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.search-box .search-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: 117px;
    height: 56px;
    background: #FF0000;

    outline: none;
    border: 2px solid #FF0000;
    border-radius: 0px 15px 15px 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #EFEFEF;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.action-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    width: 128px;
    height: 56px;
    background: #FF0000;
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.links-lvl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0px;
    gap: 30px;

    width: 100%;
    height: 54px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.link {
    width: auto;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 80px;

    position: fixed;
    width: 100%;
    min-width: 1200px;
    height: 174px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 999;

    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
}








