<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/counter.js}"></script>
    <title>Корзина</title>
</head>
<body>
<div th:insert="navbar"></div>
<main class="main">
    <div class="back">
        <div th:if="${products != null}">
            <div class="products-cart-pg">
                <div th:each="product : ${products}">
                    <div class="product-cart-pg">
                        <a th:href="@{/product/{id}(id=${product.id})}">
                            <img class="product-image-cart-pg" th:src="@{/images/{image}(image=${product.image_url})}" alt="Описание изображения">
                        </a>
                        <div class="product-info-cart-pg">
                            <div class="info-name-cart-pg" th:text="${product.name}">Картофельный суп</div>
                            <div class="info-price-cart-pg" th:text="${product.price}">1200 ₽</div>
                            <div class="product-count-frame">
                                <div class="product-count minus" id="minus">
                                    <img th:src="@{../images/icons/minus.svg}" style="width: 25px; height: 5px;">
                                </div>
                                <div class="product-count-text" id="count" th:data-id="${product.id}" th:text="${product.count}">1</div>
                                <div class="product-count plus" id="plus">
                                    <img th:src="@{../images/icons/plus.svg}" style="width: 25px; height: 25px;">
                                </div>
                                <div>
                                    <button type="button" class="delete-button-cart-pg"
                                            onclick="removeProductFromCart(this, ${product.id})">
                                        Удалить
                                    </button>
                                </div>
                                <form th:action="@{/orders/cart/remove/{id}(id=${product.id})}" method="post">
                                    <button th:id="'remove-' + ${product.id}" type="submit" style="display: none">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a th:href="@{/}">
                <div class="order-btn-cart-pg" th:text="Заказать"
                     th:href="@{/orders}"></div>
            </a>
        </div>
        <div th:if="${products == null}">
            <img class="empty-cart-image" th:src="@{../images/cart/logo-cup.svg}" style="margin-bottom: 25px;">
            <div style="font-weight: 600; font-size: 30px; line-height: 36px;">Ваша корзина пуста</div>
        </div>
<!--        <a th:href="@{/}">
            <div class="order-btn-cart-pg" th:text="Заказать"
                 th:href="@{/cart/submit/{id}(id=${category.id})}"></div>
        </a>-->
    </div>
</main>
</body>
</html>