<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <title>Категории</title>
</head>
<body>
<div th:insert="navbar"></div>
<main class="main">
    <div class="products-main-pg">
        <div th:each="ct : ${categories}">
            <a th:href="@{/category/{id}(id=${ct.id})}">
                <div class="category-back">
                    <img class="category-image" th:src="@{/images/{image}(image=${ct.image_url})}" alt="фото Категории">
                    <div class="category-name" th:text="${ct.name}">Рыба и мясо</div>
                </div>
            </a>
        </div>
    </div>
</main>
</body>
</html>