<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/select-items.js"></script>
    <title>Продукт</title>
</head>
<body>
<main class="main">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/admin/combos/save/{id}(id=${id})}" th:object="${comboDto}" method="post">
        <div class="back-edit-pg">
            <div class="name-category-edit-pg">Комбо</div>
            <div class="mb-3">
                <label for="name" class="form-label">Название</label>
                <input type="text" class="form-control" id="name" th:field="${comboDto.name}" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Описание</label>
                <input type="text" class="form-control" id="description" th:field="${comboDto.description}" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Изображение</label>
                <input type="text" class="form-control" id="image" th:field="${comboDto.image_url}" required>
            </div>
            <div class="mb-3">
                <label for="sale" class="form-label">Скидка</label>
                <input type="text" class="form-control" id="sale" th:field="${comboDto.sale}">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Цена</label>
                <input type="text" class="form-control" id="price" th:field="${comboDto.price}">
            </div>
            <div class="mb-3-combos">
                <label for="product" class="form-label">Продукты</label>
                <div class="input-group">
                    <select class="form-control-combos" id="product" multiple th:field="${comboDto.products}">
                        <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/admin/products}">
                Назад
            </a>
        </div>
    </form>
</main>
</body>
</html>