<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <title>Продукты</title>
</head>
<body>
<div th:insert="navbar"></div>
<main class="main">
    <div>
        <a class="order-btn-cart-pg"
           th:href="@{/admin/deliveryman/edit/}">
            <i class="fa-solid fa-plus"></i> Добавить курьера
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Фото</th>
                <th scope="col">Логин</th>
                <th scope="col">Пароль</th>
                <th scope="col">Телефон</th>
                <th scope="col">Занятость</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="deliveryman, iterator: ${deliveryman}">
                <th scope="row" th:text="${iterator.index} + 1"></th>
                <td th:text="${deliveryman.id}"></td>
                <td th:text="${deliveryman.name}" style="width: 20%"></td>
                <td th:text="${deliveryman.surname}" style="width: 20%"></td>
                <td th:text="${deliveryman.image_url}" style="width: 20%"><img
                        th:src="@{/images/{image}(image=${product.image_url})}"
                        style="width: 100px; height: 50px;"></td>
                <td th:text="${deliveryman.login}" style="width: 20%"></td>
                <td th:text="${deliveryman.password}" style="width: 15%"></td>
                <td th:text="${deliveryman.phone_number}" style="width: 10%"></td>
                <td th:text="${deliveryman.status}" style="width: 10%"></td>

                <td style="width: 20%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning button-fixed button-sm"
                           th:href="@{/admin/deliveryman/edit/{id}(id=${deliveryman.id})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить курьера?') && document.getElementById('remove-${deliveryman.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                        </button>
                    </div>
                    <form th:action="@{/admin/deliveryman/delete/{id}(id=${deliveryman.id})}" method="post">
                        <button th:id="'remove-' + ${deliveryman.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>