<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <script src="/js/navbar.js"></script>
    <link rel="stylesheet" href="/css/navbar.css"/>
</head>
<body>
<header>
    <div th:fragment="navbar" class="navbar">
        <div class="logo"><a th:href="@{/}">Siesta</a></div>
        <ul class="links">
            <li><a th:href="@{/product/login}">Вход</a></li>
            <li><a th:href="@{/product/signup}">Регистрация</a></li>
        </ul>
        <a class="action-btn" th:href="@{/product/login}">Вход</a>
        <div class="toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

    <div class="dropdown-menu">
        <li><a th:href="@{/product/login}">Вход</a></li>
        <li><a th:href="@{/product/signup}">Регистрация</a></li>
        <li><a class="action-btn" th:href="@{/product/login}">Вход</a></li>
    </div>
</header>
</body>
</html>