<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <script src="/js/navbar.js"></script>
    <link rel="stylesheet" href="/css/navbar.css"/>
</head>
<body>
<header class="header">
    <div th:fragment="navbar" class="navbar">
        <div class="logo-lvl">
            <div class="logo"><a class="logo-s" th:href="@{/}">Siesta</a></div>
            <div class="search-box">
                <input type="text" class="search-text" placeholder="Поиск">
                <input type="submit" class="search-btn" value="Найти">
            </div>
            <a class="action-btn" th:href="@{/logout}">Выйти</a>
        </div>
        <div class="links-lvl">
            <a class="link" th:href="@{/}">Продукты</a>
            <a class="link" th:href="@{/category}">Категории</a>
            <a class="link" th:href="@{/orders/cart}">Корзина</a>
            <a class="link" th:href="@{/profile}">Профиль</a>
            <a class="link" th:href="@{/orders}">Заказы</a>
            <a class="link" th:href="@{/admin/products}" th:if="${#httpServletRequest.getRequestURI().startsWith('/admin')}">Для админа (продукты)</a>
            <a class="link" th:href="@{/admin/categories}" th:if="${#httpServletRequest.getRequestURI().startsWith('/admin')}">Для админа (категории)</a>
            <a class="link" th:href="@{/admin/combos-admin}" th:if="${#httpServletRequest.getRequestURI().startsWith('/admin')}">Для админа (комбо)</a>
        </div>
    </div>
</header>
</body>
</html>