<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <script src="/js/navbar.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
    <title>Корзина</title>
</head>
<body>
<div th:insert="navbar"></div>
<main class="main">
    <div class="back-pr-pg">
        <div class="product-pr-pg">
            <img class="product-image-pr-pg" src="../images/image1.jpg" alt="Описание изображения">
            <div class="product-name-pr-pg">
                Сытный обед на сто человек за ноль рублей в кредит без регистрации
                <div class="product-weight-pr-pg"> 200 г</div>
            </div>
        </div>
        <div class="product-info-pr-pg">
            Мы готовим его из мясного и рыбного паштета, очень вкусно получается я того все
        </div>
        <div class="price-and-btn-pr-pg">
            <div class="price-pr-pg">350 ₽</div>
            <input type="submit" class="to-card-btn-pr-pg" value="В корзину">
        </div>
    </div>
</main>
</body>
</html>