<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <script type="text/javascript" th:src="@{/js/counter.js}"></script>
    <title>Продукт</title>
</head>
<body>
<div th:insert="navbar"></div>
<main class="main">
    <div class="back-pr-pg">
        <div class="product-pr-pg">
            <img class="product-image-pr-pg" th:src="@{/images/{image}(image=${product.image_url})}" alt="Описание изображения">
            <div class="product-name-pr-pg" th:text="${product.name}"></div>
            <div class="product-weight-text-pr-pg">
                <div class="product-weight-pr-pg" th:text="${product.weight}"></div>
                <div>г</div>
            </div>
        </div>
        <div class="product-info-pr-pg" th:text="${product.description}"></div>
        <div class="price-and-btn-pr-pg">
            <div class="price-text-pr-pg">
                <div class="price-pr-pg" th:text="${product.price}"></div>
                <div>₽</div>
            </div>
            <a th:href="@{/orders/cart}">
                <div class="to-card-btn-pr-pg">В корзину</div>
            </a>
            <div class="product-count-frame">
                <div class="product-count minus" id="minus">
                    <img th:src="@{../images/icons/minus.svg}" style="width: 30px; height: 6px;">
                </div>
                <div class="product-count-text" id="count">0</div>
                <div class="product-count plus" id="plus">
                    <img th:src="@{../images/icons/plus.svg}" style="width: 30px; height: 30px;">
                </div>
            </div>
        </div>
        <div class="reviews-back-pr-pg">
            <div class="reviews-header-frame-pr-pg">
                <div class="reviews-header-pr-pg">Отзывы</div>
                <a th:href="@{/orders/cart}">
                    <div class="to-card-btn-pr-pg">Оставить отзыв</div>
                </a>
            </div>
            <div class="review-pr-pg">
                <div class="name-and-rating-review-pr-pg">
                    <div class="name-review-pr-pg"><!-- th:text="${review.username}">-->Николай:</div>
                    <div class="rating-frame-review-pr-pg">
                        <div class="rating-ic-review-pr-pg">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="rating-review-pr-pg"><!--th:text="${review.rating}">-->4</div>
                    </div>
                </div>
                <div class="comment-review-pr-pg">
                    <div class="comment-header-review-pr-pg">Комментарий</div>
                    <div class="comment-text-review-pr-pg"><!--th:text="${review.text}">-->
                        Блюдо было оформлено очень красиво, что сразу же привлекло мое внимание. Но когда я пробовал
                        его, я был удивлен насколько оно было вкусным и гармоничным. Каждый ингредиент был подобран
                        идеально, и вкусовые нотки слились в одно целое, создавая прекрасное сочетание вкусов.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>