<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <title>Продукты</title>
</head>
<body>
<div th:insert="navbar"></div>
    <main class="main">
        <div>
            <a class="order-btn-cart-pg"
               th:href="@{/admin/products/edit/}">
                <i class="fa-solid fa-plus"></i> Создать продукт
            </a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">Масса</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Категория №</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Комбо №</th>
                    <th scope="col">Комбо</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product, iterator: ${products}">
                    <th scope="row" th:text="${iterator.index} + 1"></th>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}" style="width: 20%"></td>
                    <td th:text="${product.description}" style="width: 60%"></td>
                    <td th:text="${product.image_url}" style="width: 20%"><img
                            th:src="@{/images/{image}(image=${product.image_url})}"
                            style="width: 100px; height: 50px;"></td>
                    <td th:text="${product.weight} + 'гр.'" style="width: 20%"></td>
                    <td th:text="${product.price} + 'руб.'" style="width: 15%"></td>
                    <td th:text="${product.category_id}" style="width: 10%"></td>
                    <td th:text="${product.category}" style="width: 20%"></td>
                    <td th:text="${product.combo_id}" style="width: 10%"></td>
                    <td th:text="${product.combo}" style="width: 20%"></td>
                    <td style="width: 20%">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-warning button-fixed button-sm"
                               th:href="@{/admin/products/edit/{id}(id=${product.id})}">
                                <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                            </a>
                            <button type="button" class="btn btn-danger button-fixed button-sm"
                                    th:attr="onclick=|confirm('Удалить продукт?') && document.getElementById('remove-${product.id}').click()|">
                                <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                            </button>
                        </div>
                        <form th:action="@{/admin/products/delete/{id}(id=${product.id})}" method="post">
                            <button th:id="'remove-' + ${product.id}" type="submit" style="display: none">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>