<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/stars.js"></script>
    <title>Отзыв</title>
</head>
<body>
<main class="main">
    <form action="#" th:action="@{/product/reviews/save/{id}(id=${id})}" th:object="${reviewDto}" method="post">
        <div class="back-edit-pg">
            <div class="name-category-edit-pg">Оставьте отзыв</div>
            <div class="mb-3">
                <label for="rating" class="form-label">Оценка</label>
                <div class="rating" id="rating">
                    <span class="star" data-value="1"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="star" data-value="2"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="star" data-value="3"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="star" data-value="4"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="star" data-value="5"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <input type="hidden" name="rating" value="0">
                </div>
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Расскажите подробнее</label>
                <input type="text" class="form-control" id="text" th:field="${reviewDto.text}" required>
            </div>
            <button type="submit" class="btn btn-primary button-fixed">
                Отправить
            </button>
<!--            <a class="btn btn-secondary button-fixed" th:href="/product/4">
                Назад
            </a>-->
        </div>
    </form>
</main>
</body>
</html>